*{
    margin: 0;
    padding: 0;
}
.full-website{
    text-align: center;
    color: white;
    width: 924px;
    margin: 20px auto;
    box-shadow: 1px 1px 6px rgb(54, 53, 53);
    font-style: italic;
}
.menu{
    background:#fab1a0;
    
}
.container{
    background: #ff7675;
}
.footer{
    background:#fd79a8;

}
.footer-bottom{
    background: #e84393;
   
}
img{
    max-width: 100%;
    margin-bottom: -5px;
}
.op{
    padding: 30px 0;
}
.opx{
    padding: 40px 0;
}
.link{
    color: white;
    background-color: #FDA7DF;
    text-decoration: none;
    padding: 15px 25px;
    display: inline-block;
    text-align: center;
}